.main {
    overflow: auto;
    padding-bottom: 100px;
}



#selfie {
    margin-left: 20px;
    height: 400px;
    width: 300px;
}
#hi {
    font-size: 25px;
    color: black
}

p {
    font-family: ;
}


#xfiles, #twinpeaks, #joan, #deb {
    height: 300px;
    width: 250px;
    float: left;
}

footer {
    position: relative;
    height: 25px;
    margin-top: 200px;
    clear: both;
    background-color: grey;
}

#contact {
    text-align: center;
}