/* ALL PAGES */

body {
    background-color: lavender;
}

footer {
    height: 25px;
    width: 100%;
    position: absolute;
    margin-top: 200px;
    background-color: grey;
    bottom: 0;
}

/* INDEX/HOME */

#welcome, #hi {
    color: black;
    text-align: center;
}

#welcome {
    font-size: 40px;
}

#hi {
    font-size: small;
}

#selfie {
    height: 400px;
    width: 300px;
    padding: 20px;
    margin: 100px, 50px, 200px, 100px
}

/* ABOUT */

.main {
    overflow: auto;
    padding-bottom: 100px;
}
.info, .about {
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}

/* PORTFOLIO */

#xfiles, #twinpeaks, #joan, #deb {
    height: 300px;
    width: 250px;
    float: left;
    object-fit: cover;
    background-color: white;
    padding: 30px;
}

/* CONTACT */

#contact {
    text-align: center;
}