/* ALL PAGES */

body {
    background-color: lavender!important;
    font-family: ;
}

footer {
    height: 25px;
    width: 100%;
    background-color: grey;
    bottom: 0;
}

/* INDEX/HOME */

#welcome, #hi {
    color: black;
    text-align: center;
}

.col-md-6 {
    background-color: white;
}

#welcome {
    font-size: 40px;
    padding-bottom: 5px;
}

#hi {
    font-size: small;
}

#selfie {
    background-color: white;
    height: 400px;
    width: 300px;
    padding: 20px;

}

#hi, #intro {
    align-items: center;

}

#intro {
    float: right;
    position: absolute;
}


/* ABOUT */

#abt {
    text-align: center;
}
#me {
    height: 250px;
    width: 200px;
}
.info, .about {
    background-color: white ; 
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

/* PORTFOLIO */

#xfiles, #twinpeaks, #joan, #deb {
    height: 300px;
    width: 250px;
    float: left;
    object-fit: cover;
    background-color: white;
    padding: 30px;
}

/* CONTACT */

#contact {
    text-align: center;
}